# lists

In [1]:
odds = [1, 3, 5, 7]
print('odds are:', odds)

odds are: [1, 3, 5, 7]

In [2]:
print("First element in the list", odds[0])

First element in the list 1

In [4]:
print("last element in the list", odds[3])

last element in the list 7

In [7]:
print("Every second element in the list", odds[0::2])

Every second element in the list [1, 5]

In [8]:
names = ["Curie", "Darwing", "Turing"]
print("name is originally", names)
names[1] = "Darwin"
print("Final values of names", names)

name is originally ['Curie', 'Darwing', 'Turing']
Final values of names ['Curie', 'Darwin', 'Turing']

In [9]:
name = "Darwin"
print("First character in the name", name[0])

First character in the name D

In [10]:
name[0] = "d"

TypeError: 'str' object does not support item assignment

In [11]:
x = [
    ["pepper", "courgette", "onion"],
    ["cabbage", "lettuce", "garlic"],
    ["apple", "pear", "banana"]
]

In [12]:
print(x[0])

['pepper', 'courgette', 'onion']

In [16]:
print(x[0][1])

courgette

In [17]:
sample_ages = [10, 12.5, "Unknown"]

In [18]:
print(type(sample_ages[0]))
print(type(sample_ages[1]))
print(type(sample_ages[2]))

<class 'int'>
<class 'float'>
<class 'str'>

In [20]:
odds.append(11) #add integer in odds
print("odds after adding a value", odds)

odds after adding a value [1, 3, 5, 7, 11, 11]

In [22]:
removed_element = odds.pop(0) #remove first item in odds
print("odds after removing the first element", odds)
print("removed_element", removed_element)

odds after removing the first element [5, 7, 11, 11]
removed_element 3

In [24]:
print(odds.reverse())

None

In [26]:
odds #it gets reversed

[11, 11, 7, 5]

In [31]:
string_for_slicing = 'observation data: 02-Feb-2013'
print(string_for_slicing[25:])
print(string_for_slicing[-4:])

2013
2013

In [40]:
beatles = "In an octopus's garden in the shade"
print(beatles[:: 2]) #skip once includs space and letter

I notpssgre ntesae

In [39]:
counts = [2, 4, 6, 8, 10]
print(counts * 2)

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]